<a href="{{ route('home') }}">home</a>
<a href="{{ route('about') }}">about</a>

<a href="{{ path_for('lang.change', {lang: 'pl'}) }}">pl</a>
<a href="{{ path_for('lang.change', {lang: 'en'}) }}">en</a>

<br>
