<section>
    <div class="container-about">
        <div class="image-box">
            <img src="{{ base_url() }}/dist/img/me.jpg" alt="Photo of me">
        </div>

        <div class="description-box">
            <h1 class="header">Dominik Chylo</h1>
            <p class="description">
                {{ "description" | trans(1, 1) }}
            </p>
        </div>
    </div>
</section>
