<nav class="nav">
    <div class="container">
        <div class="brand">
            <a href="{{ route('home') }}">Portfolio</a>
            <button class="open">
                <span class="mi">menu</span>
            </button>
        </div>
        <div class="menu">
            <a href="#">O mnie</a>
            <a href="#">Moje projekty</a>
            <a href="#">Kontakt</a>
        </div>
    </div>
</nav>
