<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/main.min.css">
</head>
<body>

    <header>
        {% include "partials/nav.twig" %}
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <script src="{{ base_url() }}/dist/js/main.min.js"></script>
</body>
</html>
